.colorBlackStrong {
    color: black;
    font-weight: bold;
}

.backGroundColorDays {
    background-color: cadetblue;
}

.backGroundColorDaysConclusion {
    background-color: #333333;
    color: white;
    padding: 10px;

}

.espaceTop {
    padding-top: 35px;
}

.espaceLeft {
    padding-left: 25px;
}

.espaceRight {
    padding-right: 25px;
}

.widthImg {
    height: 100%;
    width: 100%;
}

.centerText {
    text-align: center;
}

body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(1),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(2),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(3),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(4),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(5),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(6),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(7),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(8),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(9),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(10),
body>div.forkit-curtain>div.container>div>div.col-md-8>img:nth-child(11) {
    height: 150px;
}


.tailleImage {
    object-fit: fill;
    width: 100%;
    height: 279px;
}